<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置懒加载和二级缓存 -->
    <settings>
        <!-- 开启懒加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 将积极加载变为消极加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 开启二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <!--别名扫描-->
    <typeAliases>
        <package name="com.etc.mvc.entity"></package>
        <package name="com.etc.mvc.dto"></package>
    </typeAliases>
</configuration>