<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.mvc.dao.PositionDao">
    <select id="queryPosition" resultType="position">
        SELECT * from position limit #{param1},#{param2}
    </select>

    <insert id="addPosition" parameterType="filmPositionDto">
       INSERT INTO
       position (p_name,p_type,p_require,p_salary,p_welfare,p_address,p_info,p_graduation,p_tel,p_email,p_wexperience,p_firmid)
       VALUES(#{p_name},#{p_type},#{p_require},#{p_salary},#{p_welfare},#{p_address},#{p_info},#{p_graduation},#{p_tel},#{p_email},#{p_wexperience},#{p_firmid})
    </insert>

    <select id="getPositionCount" resultType="allCountDto">
        select count(*) as allcount from position
    </select>

    <select id="queryFilmPosition" resultType="filmPositionDto">
        select p.p_id, p.p_name,p.p_type,p.p_require,p.p_salary,p.p_welfare,p.p_address,p.p_info,p.p_graduation,p.p_wexperience,f.firm_realname,f.firm_type,f.firm_legalperson
        from position as p inner join firm as f where f.firm_id=p.p_firmid limit #{param1},#{param2}
    </select>


</mapper>
